# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
target/
**/target/

# Local Database & Logs
backend/db_data/
*.log
**/pg_start.log
**/*.log

# Environment & Local Secrets
.env
.env.local
.env.*.local

# IDEs & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
